<div class="container-fluid mtb85i">
    <div class="bg-ctn">
        <div class="container">
            <div class="two-coloumn-pod">
                <div class="head_ctn">
                    <h2>404 - Page not found</h2>
                    <span class="br_line_mid"></span>
                </div>
            </div>
       
            <p>Sorry, the page you were looking for may have been moved or no longer available. Please try the following:</p>
            <p>Please use the main navigation menu to start from the top.</p>
            <p>Visit the <span><a class="view_anc" href="/">homepage<span class="view_rht_arw"></span></a></span></p>
        </div>
    </div>
</div>