<div class="container-fluid mtb85i nv-{{i + 1}}" *ngFor="let overlay of overlayPod; odd as isOdd; even as isEven;let i =index">
    <div class="bg-ctn">
        <div class="container" *ngIf="overlay.title">
            <div class="video-pod">
                <div class="head_ctn">            
                    <h2><a>{{overlay.title}}</a></h2>
                    <span class="br_line_mid"></span>
                </div>
            </div>
        </div>
        <div class="dot-ctn">
            <div class="bg-dot">
                <div [ngClass]="{'bg-lft-dot-img': isOdd, 'bg-rgt-dot-img': isEven}"></div>
            </div>
            <div class="cont-overlap-ctn">
                <div class="overlap-cont">
                    <div class="txt_lft-banner_ctn">  
                        <div class="txt-banner_lft">
                            <div class="banner_text_pod">
                                <h2 *ngIf="overlay.subTitle">{{overlay.subTitle}}</h2>
                                <p *ngIf="overlay.shortDescription">
                                    {{overlay.shortDescription}}
                                </p>
                                <p *ngIf="overlay.longDescription"  [innerHtml]="overlay.longDescription | safeHtml">
                                   
                                </p>
                                
                                <a *ngIf="overlay.ctaLabel" class="view_anc" [href]="overlay.ctaUrl" [target]='overlay.ctaTarget'>{{overlay.ctaLabel}}
                                    <span class="view_rht_arw"></span>
                                </a>
                            </div>
                        </div> 
                        <div class="img-banner_rht">    
                                             
                            <div class="tab_video" *ngIf="overlay.image">
                                <div class="video_bx">
                                    <img [defaultImage]="defaultImage" [lazyLoad]="overlay?.image?.image?.imageUrl + '?fit=fill&w=540&h=390' + isWebpImage"   [alt]="overlay?.image?.image?.imageAltText" >
                                    <!-- [fallback]="overlay.image.image.imageUrl + '?fit=fill&w=540&h=390'" [width]="overlay.image.image.imageWidth" [height]="overlay.image.image.imageHeight" -->
                                </div>
                            </div>
                            <div class="tab_video" *ngIf="overlay.video">
                                <div class="video_bx" *ngIf="overlay.video">
                                    <!-- <div class="youtube_container">
                                          <iframe width="650" height="315" [src]="youtubeUrl" frameborder="0"
                                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                        </div> -->
                                    <!-- <video controls='true' [poster]="overlay.video.videoThumbnailUrl">
                                        <source [src]="overlay.video.videoUrl" type="video/mp4" />
                                        Your browser does not support HTML5 video.
                                    </video> -->
                                    <img [defaultImage]="defaultImage" [lazyLoad]="overlay?.video?.videoThumbnailUrl + '?fit=fill&w=540&h=390' + isWebpImage" alt="video image">
                                    <!-- [fallback]="overlay.video.videoThumbnailUrl + '?fit=fill&w=540&h=390'" [width]="overlay.video.videoThumbnailWidth" [height]="overlay.video.videoThumbnailHeight" -->
                                    <span tabindex="0" class="vid_icon" id="vid_icon"
                                        (click)="toggleVideo(overlay?.video?.videoUrl)"
                                        (keypress)="toggleVideo(overlay?.video?.videoUrl)"  style="position: absolute;float: left;color: #fff;width: 50px;height: 50px;left: 45%;top: 45%;"></span>
                                    <!-- <img [src]="overview.video.videoThumbnailUrl" width="125%"> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>    
        </div>
    </div>
</div>